/*Reset CSS */
html, body {
  margin: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
main {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.oneLine{
display: flex;
align-items: center;
}

.button{
    height: 31px;
    width: 120px;
    background-color: #03A9F4;
    border: none;
    border-radius: 9px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

#user{
    padding: 0 15px 0 15px;
    
}
#repo{
    padding: 0 15px 0 15px;
    
}
#control{
    padding: 0 15px 0 15px;
   
}

.leftRight{
    border: none;
    border-radius: 6px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

input {
    border: none;
    border-bottom: 2px solid #050505;;
    height: 40px;
    width: 300px;
    padding: 8px;
    font-size: 16px;
    outline: none; /* Rimuove il contorno di selezione del browser */
  }
  input:focus {
    border-color: #f49c03;

  }
#send{
    margin-top: 10px;
    height: 35px;
    width: 120px;
    background-color: #03A9F4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer; 
}
button:hover {
    background-color: #024bd1;
  }
